@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 44 99% 51%;

    --secondary: 240 4% 16%; /* 800 */

    --off-white: 37 67% 98%;

    --background: 240 5% 26%; /* 700 */
    --dark-background: 240 6% 10%; /* 900 */
    --foreground: 0 0% 98%;

    --muted: 210 40% 96.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --accent: 210 40% 96.1%;

    --destructive: 0 84.2% 60.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --radius: 0.5rem;
  }

  .dark {
    --primary: 44 99% 51%;

    --secondary: 240 4% 16%; /* 800 */

    --off-white: 37 67% 98%;

    --background: 240 5% 26%; /* 700 */
    --dark-background: 240 6% 10%; /* 900 */
    --foreground: 0 0% 98%;

    --muted: 210 40% 96.1%;

    --accent: 210 40% 96.1%;

    --destructive: 0 84.2% 60.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-off-white text-black dark:bg-dark-background dark:text-white;
  }
}

.lighScrollbar {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #c1c1c1 !important;
  }
}
.darkScrollbar {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #424242 !important;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #686868 !important;
  }
}

.two-line-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #212939 inset !important;
  -webkit-text-fill-color: #ffffff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.prompt-sentence {
  display: inline;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.prompt-sentence .sentence-number {
  width: 20px;
  height: 20px;
  font-size: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  @apply bg-secondary text-white;
}

.mkdown a {
  text-decoration: underline;
  font-weight: 600;
}

.mkdown {
  line-height: 28px;
  font-weight: 300;
  width: 100%;
  overflow: hidden;
}

.mkdown ul {
  list-style: disc;
  padding-left: 20px;
}

.mkdown ul::marker {
  color: white;
}

.mkdown ol {
  list-style: decimal;
  padding-left: 20px;
}

.mkdown ol::marker {
  color: white;
}

.mkdown pre {
  /* border: 1px solid white; */
  background: #0d0d0d !important;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  width: 100%;
  overflow-x: auto;
  text-shadow: none !important;
}
.mkdown pre code {
  color: #ffffff !important;
}

.mkdown code {
  text-shadow: none !important;
}
.mkdown .language-javascript {
  background-color: transparent !important;
}

.collpaseSources {
  animation: collpaseKeyframe 0.1s ease;
}
.collpaseVideos {
  animation: collpaseVideosKeyframe 0.1s ease;
}
@keyframes collpaseKeyframe {
  0% {
    height: 0px;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 100%;
  }
}
@keyframes collpaseVideosKeyframe {
  0% {
    height: 0px;
  }
  50% {
    height: 100px;
  }
  100% {
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .mkdown {
    font-size: 14px;
    font-weight: 400 !important;
  }
}

.safe-area {
  height: calc(100vh - 88px);
}

.safe-area-max {
  max-height: calc(100vh - 88px);
}

@media only screen and (max-width: 640px) {
  .safe-area {
    height: calc(100vh - 88px - 76px);
  }

  .safe-area-max {
    max-height: calc(100vh - 88px - 76px);
  }
}

.input-shadow {
  -webkit-box-shadow: -2px 1px 20px 0px rgba(211, 211, 211, 1);
  -moz-box-shadow: -2px 1px 20px 0px rgba(211, 211, 211, 1);
  box-shadow: -2px 1px 20px 0px rgba(211, 211, 211, 1);
}

.input-shadow:is(.dark *) {
  box-shadow: none;
}
