@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./partials/code.css";
@import "./partials/placeholder.css";
@import "./partials/lists.css";
@import "./partials/typography.css";

@layer base {
  :root {
    --primary: 44 99% 51%;

    --secondary: 240 4% 16%; /* 800 */

    --off-white: 37 67% 98%;

    --background: 240 5% 26%; /* 700 */
    --dark-background: 240 6% 10%; /* 900 */
    --foreground: 0 0% 98%;

    --muted: 210 40% 96.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --accent: 210 40% 96.1%;

    --destructive: 0 84.2% 60.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --radius: 0.5rem;

    /* text editor */
    --mt-font-size-regular: 0.9375rem;

    --mt-code-background: #082b781f;
    --mt-code-color: #d4d4d4;
    --mt-secondary: #9d9d9f;
    --mt-pre-background: #ececec;
    --mt-pre-border: #e0e0e0;
    --mt-pre-color: #2f2f31;
    --mt-hr: #dcdcdc;
    --mt-drag-handle-hover: #5c5c5e;

    --mt-accent-bold-blue: #05c;
    --mt-accent-bold-teal: #206a83;
    --mt-accent-bold-green: #216e4e;
    --mt-accent-bold-orange: #a54800;
    --mt-accent-bold-red: #ae2e24;
    --mt-accent-bold-purple: #5e4db2;

    --mt-accent-gray: #758195;
    --mt-accent-blue: #1d7afc;
    --mt-accent-teal: #2898bd;
    --mt-accent-green: #22a06b;
    --mt-accent-orange: #fea362;
    --mt-accent-red: #c9372c;
    --mt-accent-purple: #8270db;

    --mt-accent-blue-subtler: #cce0ff;
    --mt-accent-teal-subtler: #c6edfb;
    --mt-accent-green-subtler: #baf3db;
    --mt-accent-yellow-subtler: #f8e6a0;
    --mt-accent-red-subtler: #ffd5d2;
    --mt-accent-purple-subtler: #dfd8fd;

    --hljs-string: #aa430f;
    --hljs-title: #b08836;
    --hljs-comment: #999999;
    --hljs-keyword: #0c5eb1;
    --hljs-attr: #3a92bc;
    --hljs-literal: #c82b0f;
    --hljs-name: #259792;
    --hljs-selector-tag: #c8500f;
    --hljs-number: #3da067;
  }

  .dark {
    --primary: 44 99% 51%;

    --secondary: 240 4% 16%; /* 800 */

    --off-white: 37 67% 98%;

    --background: 240 5% 26%; /* 700 */
    --dark-background: 240 6% 10%; /* 900 */
    --foreground: 0 0% 98%;

    --muted: 210 40% 96.1%;

    --accent: 210 40% 96.1%;

    --destructive: 0 84.2% 60.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --radius: 0.5rem;

    /* text editor */
    --mt-font-size-regular: 0.9375rem;

    --mt-code-background: #ffffff13;
    --mt-code-color: #2c2e33;
    --mt-secondary: #595a5c;
    --mt-pre-background: #080808;
    --mt-pre-border: #23252a;
    --mt-pre-color: #e3e4e6;
    --mt-hr: #26282d;
    --mt-drag-handle-hover: #969799;

    --mt-accent-bold-blue: #85b8ff;
    --mt-accent-bold-teal: #9dd9ee;
    --mt-accent-bold-green: #7ee2b8;
    --mt-accent-bold-orange: #fec195;
    --mt-accent-bold-red: #fd9891;
    --mt-accent-bold-purple: #b8acf6;

    --mt-accent-gray: #738496;
    --mt-accent-blue: #388bff;
    --mt-accent-teal: #42b2d7;
    --mt-accent-green: #2abb7f;
    --mt-accent-orange: #a54800;
    --mt-accent-red: #e2483d;
    --mt-accent-purple: #8f7ee7;

    --mt-accent-blue-subtler: #09326c;
    --mt-accent-teal-subtler: #164555;
    --mt-accent-green-subtler: #164b35;
    --mt-accent-yellow-subtler: #533f04;
    --mt-accent-red-subtler: #5d1f1a;
    --mt-accent-purple-subtler: #352c63;

    --hljs-string: #da936b;
    --hljs-title: #f1d59d;
    --hljs-comment: #aaaaaa;
    --hljs-keyword: #6699cc;
    --hljs-attr: #90cae8;
    --hljs-literal: #f2777a;
    --hljs-name: #5fc0a0;
    --hljs-selector-tag: #e8c785;
    --hljs-number: #b6e7b6;

    --foreground: #000000;
    --white: #ffffff;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-off-white text-black dark:bg-dark-background dark:text-white;
  }
}

body {
  overflow: hidden;
}

.lighScrollbar {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #c1c1c1 !important;
  }
}
.darkScrollbar {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #424242 !important;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #686868 !important;
  }
}

.two-line-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #212939 inset !important;
  -webkit-text-fill-color: #ffffff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.prompt-sentence {
  display: inline;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.prompt-sentence .sentence-number {
  width: 20px;
  height: 20px;
  font-size: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  @apply bg-secondary text-white;
}

.mkdown a {
  text-decoration: underline;
  font-weight: 600;
}

.mkdown {
  line-height: 28px;
  font-weight: 300;
  width: 100%;
  overflow: hidden;
}

.mkdown ul {
  list-style: disc;
  padding-left: 20px;
}

.mkdown ul::marker {
  color: white;
}

.mkdown ol {
  list-style: decimal;
  padding-left: 20px;
}

.mkdown ol::marker {
  color: white;
}

.mkdown pre {
  /* border: 1px solid white; */
  background: #0d0d0d !important;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  width: 100%;
  overflow-x: auto;
  text-shadow: none !important;
}
.mkdown pre code {
  color: #ffffff !important;
}

.mkdown code {
  text-shadow: none !important;
}
.mkdown .language-javascript {
  background-color: transparent !important;
}

.collpaseSources {
  animation: collpaseKeyframe 0.1s ease;
}
.collpaseVideos {
  animation: collpaseVideosKeyframe 0.1s ease;
}
@keyframes collpaseKeyframe {
  0% {
    height: 0px;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 100%;
  }
}
@keyframes collpaseVideosKeyframe {
  0% {
    height: 0px;
  }
  50% {
    height: 100px;
  }
  100% {
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .mkdown {
    font-size: 14px;
    font-weight: 400 !important;
  }
}

.safe-area {
  height: calc(100vh - 88px);
}

.safe-area-max {
  max-height: calc(100vh - 88px);
}
.safe-area-min {
  min-height: calc(100vh - 88px);
}

@media only screen and (max-width: 640px) {
  .safe-area {
    height: calc(100vh - 88px - 60px);
  }

  .safe-area-max {
    max-height: calc(100vh - 88px - 60px);
  }
  .safe-area-min {
    min-height: calc(100vh - 88px - 60px);
  }
}

.input-shadow {
  -webkit-box-shadow: -2px 1px 20px 0px rgba(211, 211, 211, 1);
  -moz-box-shadow: -2px 1px 20px 0px rgba(211, 211, 211, 1);
  box-shadow: -2px 1px 20px 0px rgba(211, 211, 211, 1);
}

.input-shadow:is(.dark *) {
  box-shadow: none;
}

.home-gradient {
  @apply bg-off-white;
}

.inline-source {
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: hsl(var(--secondary));
  color: white;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none !important;
  @apply text-gray-300;
}

.chooseRoom .chooseRoom_item:hover {
  background: #3d3d3d;
}

.chooseRoom .chooseRoom_item:first-child:hover {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.chooseRoom .chooseRoom_item:last-child:hover {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* tiptap editor */
.minimal-tiptap-editor .ProseMirror {
  @apply flex max-w-full flex-1 cursor-text flex-col;
  @apply z-0 outline-0;
}

.minimal-tiptap-editor .ProseMirror > div.editor {
  @apply block flex-1 whitespace-pre-wrap;
}

.minimal-tiptap-editor .ProseMirror .block-node:not(:last-child),
.minimal-tiptap-editor .ProseMirror .list-node:not(:last-child),
.minimal-tiptap-editor .ProseMirror .text-node:not(:last-child) {
  @apply mb-2.5;
}

.minimal-tiptap-editor .ProseMirror ol,
.minimal-tiptap-editor .ProseMirror ul {
  @apply pl-6;
}

.minimal-tiptap-editor .ProseMirror blockquote,
.minimal-tiptap-editor .ProseMirror dl,
.minimal-tiptap-editor .ProseMirror ol,
.minimal-tiptap-editor .ProseMirror p,
.minimal-tiptap-editor .ProseMirror pre,
.minimal-tiptap-editor .ProseMirror ul {
  @apply m-0;
}

.minimal-tiptap-editor .ProseMirror li {
  @apply leading-7;
}

.minimal-tiptap-editor .ProseMirror p {
  @apply break-words;
}

.minimal-tiptap-editor .ProseMirror li .text-node:has(+ .list-node),
.minimal-tiptap-editor .ProseMirror li > .list-node,
.minimal-tiptap-editor .ProseMirror li > .text-node,
.minimal-tiptap-editor .ProseMirror li p {
  @apply mb-0;
}

.minimal-tiptap-editor .ProseMirror blockquote {
  @apply relative pl-3.5;
}

.minimal-tiptap-editor .ProseMirror blockquote::before,
.minimal-tiptap-editor .ProseMirror blockquote.is-empty::before {
  @apply absolute bottom-0 left-0 top-0 h-full w-1 rounded-sm bg-white/20 content-[''];
}

.minimal-tiptap-editor .ProseMirror hr {
  @apply my-3 h-0.5 w-full border-none bg-[var(--mt-hr)];
}

.minimal-tiptap-editor .ProseMirror-focused hr.ProseMirror-selectednode {
  @apply rounded-full outline outline-2 outline-offset-1 outline-secondary;
}

.minimal-tiptap-editor .ProseMirror .ProseMirror-gapcursor {
  @apply pointer-events-none absolute hidden;
}

.minimal-tiptap-editor .ProseMirror .ProseMirror-hideselection {
  @apply caret-transparent;
}

.minimal-tiptap-editor .ProseMirror.resize-cursor {
  @apply cursor-col-resize;
}

.minimal-tiptap-editor .ProseMirror .selection {
  @apply inline-block;
}

.minimal-tiptap-editor .ProseMirror .selection,
.minimal-tiptap-editor .ProseMirror *::selection,
::selection {
  @apply bg-gray-400;
}

/* Override native selection when custom selection is present */
.minimal-tiptap-editor .ProseMirror .selection::selection {
  background: transparent;
}

.minimal-tiptap-editor .ProseMirror a.link {
  cursor: pointer;
  color: #000;
  text-decoration: underline;
}

.editor-toolbar .react-horizontal-scrolling-menu--inner-wrapper {
  @apply flex items-center gap-3;
}

.toolbar-scroll::-webkit-scrollbar {
  height: 8px;
}

.toolbar-scroll::-webkit-scrollbar-track {
  @apply bg-[#FDF7BB];
  cursor: default !important;
}

.toolbar-scroll::-webkit-scrollbar-thumb {
  @apply bg-gray-400;
  cursor: default !important;
}

.note_html ul {
  padding-left: 20px;
}
.note_html ul li {
  list-style-type: disc;
}
.note_html ol {
  padding-left: 20px;
}
.note_html ol li {
  list-style-type: decimal;
}
.note_html li {
  line-height: 1.75rem;
}
.note_html .text-node:not(:last-child),
.note_html .block-node:not(:last-child),
.note_html .list-node:not(:last-child) {
  margin-bottom: 0.625rem;
}

.note_html h1 {
  margin-bottom: 1rem;
  margin-top: 46px;
  font-size: 1.375rem;
  line-height: 1.75rem;
  letter-spacing: -0.004375rem;
}
.note_html h2 {
  margin-bottom: 0.875rem;
  margin-top: 2rem;
  font-size: 1.1875rem;
  line-height: 1.75rem;
  letter-spacing: 0.003125rem;
}
.note_html h3 {
  margin-bottom: 0.75rem;
  margin-top: 1.5rem;
  font-size: 1.0625rem;
  line-height: 1.5rem;
  letter-spacing: 0.00625rem;
}

.note_html .heading-node {
  position: relative;
  font-weight: 600;
}
.note_html h1:first-child,
.note_html h2:first-child,
.note_html h3:first-child {
  margin-top: 0;
}

.note_html a.link {
  cursor: pointer;
  color: #000;
  text-decoration: underline;
}

.note_html {
  @apply break-words;
}

.desktop-file.inactive {
  display: none !important;
}
.desktop-file .moveable-rotation-line {
  display: none !important;
}
